@font-face {
    font-family: myFirstFont;
    src: url('./assets/LovedbytheKing-Regular.ttf');
}

@font-face {
    font-family: normalText;
    src: url('./assets/fontlolclassic.ttf');
}


:root {
    --top-button-y: 500px;
    --left-button-x: 880px;
}

.main {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.vertical-center {
    margin: 0;
    /*position: absolute;*/
    -ms-transform: translate(50%, 50%);
    transform: translate(5%, 10%) scale(0.5, 0.5);
}

.box {
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
}

.description-text-food {
    position: absolute;
    width: 519px;
    height: 90px;
    left: 701px;
    top: 449px;

    font-family: normalText;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;

    color: #757575;
}

.description-text-toy {
    position: absolute;
    width: 519px;
    height: 90px;
    left: 701px;
    top: 449px;

    font-family: normalText;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;

    color: #757575;
}

.important-text {
    position: absolute;
    width: 656px;
    height: 129px;
    left: 632px;
    top: 272px;

    font-family: normalText;
    font-style: normal;
    font-weight: 400;
    font-size: 75px;
    line-height: 129px;

    color: #757575;
}

.intro-rectangle {
    position: absolute;
    width: 629px;
    height: 517px;
    left: 632px;
    top: 397px;

    border-radius: 38px;
}

.disclaimer-area {
    position: absolute;
    width: 319px;
    height: 147px;
    left: 1489px;
    top: 811px;

    font-family: normalText;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;

    color: #757575;

}


.intro-text {
    position: absolute;
    width: 563px;
    height: 480px;
    left: 665px;
    top: 415px;
    
    font-family: normalText;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    
    color: #757575;
}

.logo-centered {
    background: url("./assets/icons/logo.png");
    
    position: absolute;
    width: 836px;
    height: 606px;
    left: 542px;
    top: 237px;

    background-size: contain;
    background-repeat: no-repeat;
}

.description-text-voicemail {
    position: absolute;
    width: 519px;
    height: 90px;
    left: 701px;
    top: 449px;

    font-family: normalText;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;

    color: #757575;
}

.description-text-shelter {
    position: absolute;
    width: 519px;
    height: 120px;
    left: 701px;
    top: 435px;

    font-family: normalText;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;

    color: #757575;
}

.big-rectangle {
    position: absolute;
    width: 763px;
    height: 659px;
    left: 579px;
    top: 340px;

    background: rgba(255, 255, 255, 0.7);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}

.logo-bottom {
    background: url('./assets/icons/logo.png');
    
    position: absolute;
    width: 269px;
    height: 99px;
    left: 112px;
    top: 855px;

    background-size: contain;
    background-repeat: no-repeat;
}

.cloud {
    background: url("./assets/icons/nuvem.png");

    position: absolute;
    width: 218px;
    height: 137.35px;
    left: 1600px;
    top: 876.7px;

    background-size: contain;
    background-repeat: no-repeat;

    cursor: pointer;
}

.text-rectangle {
    position: absolute;
    width: 572px;
    height: 221px;
    left: 674px;
    top: 384px;

    background: rgba(255, 255, 255, 0.7);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 38px;
}

.instruction-rectangle {
    position: absolute;
    width: 363px;
    height: 187px;
    left: 779px;
    top: 771px;

    background: rgba(255, 255, 255, 0.7);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 38px;
}

.button-rectangle-1 {
    position: absolute;
    width: 99px;
    height: 99px;
    left: 718px;
    top: 638px;
    
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 26px;

    cursor: pointer;
}

.button-rectangle-2 {
    position: absolute;
    width: 99px;
    height: 99px;
    left: 847px;
    top: 638px;
    
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 26px;

    cursor: pointer;
}

.button-rectangle-3 {
    position: absolute;
    width: 99px;
    height: 99px;
    left: 976px;
    top: 638px;

    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 26px;

    cursor: pointer;
}

.button-rectangle-4 {
    position: absolute;
    width: 99px;
    height: 99px;
    left: 1105px;
    top: 638px;

    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 26px;

    cursor: pointer;
}

.main-text {
    position: absolute;
    width: 563px;
    height: 177px;
    left: 679px;
    top: 107px;

    font-family: normalText;
    font-style: normal;
    font-weight: 400;
    font-size: 110px;
    line-height: 90px;
    /* or 69% */

    text-align: center;

    color: #000000;
}

.fixer-6 {
    position: absolute;
    width: 552px;
    height: 177px;
    left: 684px;
    top: 107px;
}

.fixer-3 {
    position: absolute;
    width: 596px;
    height: 94px;
    left: 663px;
    top: 148px;
}

.forward-button-rectangle {
    position: absolute;
    width: 99px;
    height: 99px;
    left: 984px;
    top: 637px;

    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 26px;
    cursor: pointer;
}

.backward-button-rectangle {
    position: absolute;
    width: 99px;
    height: 99px;
    left: 837px;
    top: 637px;

    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 26px;
    cursor: pointer;
}

.forward-button-icon {

    background: url("./assets/icons/front.png");

    background-size: contain;
    background-repeat: no-repeat;


    position: absolute;
    width: 52px;
    height: 60px;
    left: 1008px;
    top: 656px;

    cursor: pointer;
}

.backward-button-icon {
   
    background: url("./assets/icons/back.png");
    background-size: contain;
    background-repeat: no-repeat;

    position: absolute;
    width: 52px;
    height: 60px;
    left: 861px;
    top: 656px;

    
    cursor: pointer;
}

.e-fixer-1{
    position: absolute;

    width: 295px !important;
    height: 120px !important;
    left: 812px !important;
    top: 450px !important;
}

.example-rectangle {
    position: absolute;
    width: 363px;
    height: 187px;
    left: 778px;
    top: 417px;

    background: rgba(255, 255, 255, 0.7);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 38px;
}

.example-text {
    position: absolute;
    width: 312px;
    height: 76px;
    left: 805px;
    top: 472px;

    font-family: normalText;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    text-align: center;

    color: #000000;
}

.fixer-5 {
    position: absolute;
    width: 295px;
    height: 126px;
    left: 813px;
    top: 448px;
}


.input-rectangle {
    position: absolute;
    width: 572px;
    height: 221px;
    left: 675px;
    top: 769px;

    background: rgba(255, 255, 255, 0.7);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 38px;
}

.instruction-text {
    position: absolute;
    width: 748px;
    height: 50px;
    top: 334px;

    font-family: normalText;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    /* identical to box height, or 125% */

    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.i-text-fixer-1 {
    left: 600px !important;
}

/*first prompt*/

.i-text-fixer-2 {
    left: 590px;
}

.i-text-fixer-3 {
    left: 619px !important;
}

.center-rectangle {
    position: absolute;
    width: 763px;
    height: 211px;
    left: 579px;
    top: 170px;

    background: rgba(255, 255, 255, 0.7);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}

.center-rectangle-text {
    position: absolute;
    width: 713px;
    height: 78px;
    left: 604px;
    top: 237px;

    font-family: normalText;
    font-style: normal;
    font-weight: 400;
    font-size: 130px;
    line-height: 90px;
    /* or 69% */

    text-align: center;

    color: #000000;
}

.middle-rectangle {
    position: absolute;
    width: 763px;
    height: 221px;
    left: 579px;
    top: 421px;

    background: rgba(255, 255, 255, 0.7);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 38px;
}

.left-square {
    position: absolute;
    width: 150px;
    height: 150px;
    left: 788px;
    top: 682px;

    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 26px;

    cursor: pointer;
}

.left-icon-f {
    background: url("./assets/icons/back.png");

    background-size: contain;
    background-repeat: no-repeat;

    position: absolute;
    width: 78.79px;
    height: 90.91px;
    left: 824.36px;
    top: 710.79px;

    cursor: pointer;
}

.right-square {
    position: absolute;
    width: 150px;
    height: 150px;
    left: 983px;
    top: 682px;

    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 26px;

    cursor: pointer;
}

#fixer-pet-name {
    position: absolute;
    width: 519px;
    height: 65px;
    left: 701px;
    top: 499px;
}

.right-icon-f {
    background: url("./assets/icons/save.png");

    background-size: contain;
    background-repeat: no-repeat;

    position: absolute;
    width: 131px;
    height: 81px;
    left: 993px;
    top: 717px;

    cursor: pointer;
}

.left-icon {
    position: absolute;
    width: 131px;
    height: 81px;
    left: 993px;
    top: 717px;

    background: url("./assets/icons/save.png");
}

.bottom-text {
    position: absolute;
    width: 295px;
    height: 40px;
    left: 813px;
    top: 871px;

    font-family: normalText;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #B0FCFE;
}

.banner-title {
    position: absolute;
    width: 713px;
    height: 78px;
    left: 604px;
    top: 237px;

    font-family: normalText;
    font-style: normal;
    font-weight: 400;
    font-size: 130px;
    line-height: 90px;
    /* or 69% */

    text-align: center;

    color: #000000;
}

.back-button {
    background: url('./assets/icons/back.png');

    background-size: contain;
    background-repeat: no-repeat;

    position: absolute;
    width: 52px;
    height: 60px;
    left: 742px;
    top: 657px;

    cursor: pointer;
}

.restart-button {
    background: url('./assets/icons/restart.png');

    background-size: contain;
    background-repeat: no-repeat;

    position: absolute;
    width: 58px;
    height: 67px;
    left: 868px;
    top: 654px;

    cursor: pointer;
}

.record-button {
    background: url('./assets/icons/record2.png');

    background-size: contain;
    background-repeat: no-repeat;

    position: absolute;
    width: 59px;
    height: 59px;
    left: 996px;
    top: 658px;

    cursor: pointer;
}

.stop-button {
    background: url('./assets/icons/stop.png');

    background-size: contain;
    background-repeat: no-repeat;

    position: absolute;
    width: 59px;
    height: 59px;
    left: 996px;
    top: 658px;

    cursor: pointer;
}

.front-button {
    background: url('./assets/icons/front.png');

    background-size: contain;
    background-repeat: no-repeat;

    position: absolute;
    width: 52px;
    height: 60px;
    left: 1129px;
    top: 657px;

    cursor: pointer;
}

.banner-rectangle {
    position: absolute;
    width: 763px;
    height: 211px;
    left: 579px;
    top: 90px;

    background: rgba(255, 255, 255, 0.7);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}

.instruction-name {
    position: absolute;
    width: 295px;
    height: 30px;
    left: 813px;
    top: 918px;

    font-family: normalText;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #757575;
}

.center-title-rectangle-name {
    position: absolute;
    width: 763px;
    height: 211px;
    left: 579px;
    top: 212px;

    background: rgba(255, 255, 255, 0.7);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}

.center-title-text-name {
    position: absolute;
    width: 716px;
    height: 251px;
    left: 602px;
    top: 192px;

    font-family: normalText;
    font-style: normal;
    font-weight: 400;
    font-size: 170px;
    line-height: 293px;
    text-align: center;

    color: #000000;
}

.content-rectangle-name {
    position: absolute;
    width: 763px;
    height: 221px;
    left: 579px;
    top: 463px;
    
    background: rgba(255, 255, 255, 0.7);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 38px;
}

.content-text-name {
    position: absolute;
    width: 519px;
    height: 30px;
    left: 701px;
    top: 487px;
    
    font-family: normalText;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    
    text-align: center;
    color: #757575;
}


.button-1-name {
    position: absolute;
    width: 150px;
    height: 150px;
    left: 788px;
    top: 717px;
    
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 26px;
}

.button-1-name-icon {
    background: url('./assets/icons/back.png');


    background-size: contain;
    background-repeat: no-repeat;

    cursor: pointer;

    position: absolute;
    width: 78.79px;
    height: 90.91px;
    left: 824.36px;
    top: 745.79px;

}

.button-2-name {
    position: absolute;
    width: 150px;
    height: 150px;
    left: 983px;
    top: 717px;

    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 26px;
}

.button-2-name-icon {
    background: url('./assets/icons/cloudfinal.png');


    background-size: contain;
    background-repeat: no-repeat;

    cursor: pointer;

    position: absolute;
    width: 133.33px;
    height: 81.82px;
    left: 992.09px;
    top: 750.33px;

}

.logo-image {
    background: url('./assets/icons/logo.png');

    background-size: contain;
    background-repeat: no-repeat;

    position: absolute;
    width: 402px;
    height: 151px;
    left: 759px;
    top: 85px;

}

.text-loading-image {
    position: absolute;
    width: 1055px;
    height: 251px;
    left: 432px;
    top: 414px;

    font-family: normalText;
    font-style: normal;
    font-weight: 400;
    font-size: 200px;
    line-height: 200px;
    text-align: center;

    color: #000000;
}

.back-text {
    position: absolute;
    width: 175px;
    height: 40px;
    left: 388px;
    top: 464px;

    font-family: normalText;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.back-icon {
    
    background: url("./assets/icons/biggerreset.png");

    background-size: contain;
    background-repeat: no-repeat;

    position: absolute;
    width: 99.87px;
    height: 98px;
    left: 426px;
    top: 518px;

    cursor: pointer;
}

.white-polaroid-rectangle {
    position: absolute;
    width: 556px;
    height: 685.55px;
    left: 682px;
    top: 197px;

    background: #FFFFFF;
}

.image-placement {
    background-repeat: no-repeat;

    position: absolute;
    width: 491.22px;
    height: 491.22px;
    left: 714px;
    top: 256.38px;

    background: #D9D9D9;
}

.pet-name-text {
    position: absolute;
    width: 170px;
    height: 108px;
    left: 875px;
    top: 761px;

    font-family: normalText;
    font-style: normal;
    font-weight: 400;
    font-size: 130px;
    line-height: 130px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.send-to-email {
    position: absolute;
    width: 175px;
    height: 40px;
    left: 1358px;
    top: 464px;

    font-family: normalText;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;

}

.send-to-email-icon {
    background: url("./assets/icons/share.png");

    background-size: contain;
    background-repeat: no-repeat;
    
    position: absolute;
    width: 124px;
    height: 98px;
    left: 1384px;
    top: 518px;

    cursor: pointer;
}

.text-sent {
    position: absolute;
    width: 466px;
    height: 251px;
    left: 727px;
    top: 273px;

    font-family: normalText;
    font-style: normal;
    font-weight: 400;
    font-size: 170px;
    line-height: 293px;
    text-align: center;

    z-index: 2;

    color: #D6AC7D;

}

.envelope-sent {
    background: url('./assets/icons/envelop.png');

    background-size: contain;
    background-repeat: no-repeat;

    z-index: 1;

    position: absolute;
    width: 676px;
    height: 470px;
    left: 622px;
    top: 430px;


}

input,
span,
label,
textarea {
  font-family: normalText;
  display: block;
  margin: 10px;
  padding: 5px;
  border: none;
  font-size: 22px;
}

textarea:focus,
input:focus {
  outline: 0;
}
/* Question */

input.question {
  font-size: 48px;
  font-weight: 300;
  border-radius: 2px;
  margin: -30px 0px 0px 40px;
  border: none;
  width: 80%;
  background: rgba(0, 0, 0, 0);
  transition: padding-top 0.2s ease, margin-top 0.2s ease;
  overflow-x: hidden; /* Hack to make "rows" attribute apply in Firefox. */
}
/* Underline and Placeholder */

input.question + label {
  display: block;
  position: relative;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  width: 10%;
  -webkit-transition: width 0.4s ease;
  transition: width 0.4s ease;
  height: 0px;
}

input.question:focus + label,
textarea.question:focus + label {
  width: 80%;
}

input.question:focus,
input.question:valid {
  padding-top: 35px;
}

textarea.question:valid,
textarea.question:focus {
  margin-top: 35px;
}

input.question:focus + label > span,
input.question:valid + label > span {
  top: -100px;
  font-size: 22px;
  color: #333;
}

textarea.question:focus + label > span,
textarea.question:valid + label > span {
  top: -150px;
  font-size: 22px;
  color: #333;
}

input.question:valid + label,
textarea.question:valid + label {
  border-color: green;
}

input.question:invalid,
textarea.question:invalid {
  box-shadow: none;
}

form {
    position: absolute;
    width: 519px;
    height: 65px;
    left: 702px;
    top: 847px;

}

input.question + label > span {
  font-weight: 300;
  margin: 25px 0px 0px 160px;
  position: absolute;
  color: #666666;
  font-size: 48px;
  top: -66px;
  left: 0px;
  z-index: -1;
  -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
  transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}



input[type="submit"] {
  -webkit-transition: opacity 0.2s ease, background 0.2s ease;
  transition: opacity 0.2s ease, background 0.2s ease;
  display: block;
  opacity: 0;
  margin: 10px 0 0 0;
  padding: 10px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background: #EEE;
}

input[type="submit"]:active {
  background: #999;
}

input.question:valid ~ input[type="submit"], textarea.question:valid ~ input[type="submit"] {
  -webkit-animation: appear 1s forwards;
  animation: appear 1s forwards;
}

input.question:invalid ~ input[type="submit"], textarea.question:invalid ~ input[type="submit"] {
  display: none;
}

@-webkit-keyframes appear {
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  100% {
    opacity: 1;
  }
}


.main-logo-v2 {
    position: absolute;
    width: 836px;
    height: 606px;
    left: 542px;
    top: 237px;

    background: url("./assets/icons/logo.png");
}
